list{
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-flow: row wrap;
}

img {
    height: 200px;
    width: 200px;
    padding: 1em;
    border: 5px solid rgb(187, 109, 8);
  }
  

.box{

  width: 250px;
}
.imgfoot{
  width: 100px;
  margin: 0px;
  padding: 0%;
  text-align: center;
}