<!--ACA SOLO VAN LAS FOTOS POR ESO SE LLAMA PHOTO LIST-->
<h3>holis </h3>

<ng-container *ngIf="localPhotos">
  <ng-container class="list" *ngFor="let p of localPhotos.photos" >
    <ng-container class="item">
      <ng-container class= "box"> <a routerLink="/img-detail/{{p.id}}">

          <img src= {{p.img_src}}/></a>
        <span class="imgfoot">{{p.camera.full_name}}</span>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="!localPhotos"> no photos to display, maybe if you try other date? </ng-container>
