
<ng-container>
  <h1>{{rover.name}} Rover</h1>
  <div> {{rover.camera | camPipe}}</div>
  <div>
    select Camera
    <select [(ngModel)]="rover.camera">

      <option *ngFor="let c of rover.cameras">{{c}}</option>

    </select>

    <span> select Date Type
      <select [(ngModel)]='rover.datetype'>
        <option [ngValue]='earth_date'>Earth Date (yyyy-mm-dd)</option>
        <option [ngValue]='sol'>Mars Date (sol)</option>

      </select>
    </span>

    date:
    <app-date-switch [typeselection]='rover.datetype'></app-date-switch>
    <button (click)="getRoverPics(rover.name, rover.date, rover.camera, rover.datetype)">get photos</button>
  </div>
  
  <app-photo-list [localPhotos]=photos></app-photo-list>
</ng-container>

<!--agregar la validacion para cargar las fotos,
 el imput de numeros para SolDate y el calendario para la EarthDate-->