
<ng-container>
  <h1>{{rover.name}} Rover</h1>
  <div> {{rover.camera | camPipe}}</div>
  <div class="roverform">
    <label>select Camera </label>
    <select [(ngModel)]="rover.camera">

      <option *ngFor="let c of rover.cameras">{{c}}</option>

    </select>

    <span> <label>select Date</label>
      <select [(ngModel)]='rover.datetype'>
        <option [ngValue]='earth_date'>Earth Date (yyyy-mm-dd)</option>
        <option [ngValue]='sol'>Mars Date (sol)</option>

      </select>
    </span>

    date:
    <ng-container *ngIf="rover.datetype" [ngSwitch]= "rover.datetype">

      <input *ngSwitchCase="'sol'" type="number" [(ngModel)]='rover.date' placeholder="Choose date in Sols" >
      <input *ngSwitchCase="'earth_date'" type="date" [(ngModel)]='rover.date' placeholder="Choose a date">
    
    </ng-container>
      
    
    <button class="btn" (click)="getRoverPics(rover.name, rover.date, rover.camera, rover.datetype)">get photos</button>
  </div>
  
  <app-photo-list [localPhotos]=photos></app-photo-list>
</ng-container>

<!--agregar la validacion para cargar las fotos-->