<h2> Photo Gallery</h2>
<ng-container>
  <h1>{{rover.name}} Rover</h1>
  <span> {{rover.camera | camPipe}}</span>
  <div>
    select Camera
    <select [(ngModel)]="rover.camera">

      <option *ngFor="let c of rover.cameras">{{c}}</option>

    </select>
<input type="number" name="ca" id="p">
    <span> select Date Type
      <select [(ngModel)]='rover.datetype'>
        <option [ngValue]='earth_date'>Earth Date (yyyy-mm-dd)</option>
        <option [ngValue]='sol'>Mars Date (sol)</option>

      </select>
    </span>

    date:
    <input type="text" [(ngModel)]='rover.date' placeholder="Choose date" >
    <button (click)="getRoverPics(rover.name, rover.date, rover.camera, rover.datetype)">get photos</button>
  </div>
  
    <input matInput [matDatepicker]="picker" [(ngModel)]='rover.date' placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  
  <app-photo-list [localPhotos]=photos></app-photo-list>
</ng-container>

<!--agregar la validacion para cargar las fotos,
 el imput de numeros para SolDate y el calendario para la EarthDate-->